@model Musicalog.MVC.Models.Album.AlbumModel

<form asp-action="Edit">
    @Html.Partial("_EditAlbumForm", Model)
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function GetAllArtists() {
            url = "@Url.Action("GetAllArtists", "Artist")";
            $.ajax({
                type: "GET",
                url: url,
                data: {},
                success: function (result) {
                    if (result.success == true) {
                        $("#ArtistId").append(new Option("Select an artist", ""));
                        result.artistList.forEach(artist => $("#ArtistId").append(new Option(artist.description, artist.id)));

                        $("#ArtistId").val(@Model.ArtistId);
                    }
                }
            });
        }

        function GetAllAlbumType() {
            url = "@Url.Action("GetAllAlbumTypes", "AlbumType")";
            $.ajax({
                type: "GET",
                url: url,
                data: {},
                success: function (result) {
                    if (result.success == true) {
                        $("#AlbumTypeId").append(new Option("Select an almbum type", ""));
                        result.albumTypeList.forEach(albumType => $("#AlbumTypeId").append(new Option(albumType.description, albumType.id)));

                        $("#AlbumTypeId").val(@Model.AlbumTypeId);
                    }
                }
            });
        }

            $(document).ready(function () {
            GetAllArtists();
            GetAllAlbumType();
        });
    </script>
}
