@model Musicalog.MVC.Models.Album.AlbumIndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-sm-12 col-md-12 col-lg-12">
    <div class="" id="box1" style="overflow:auto;">
        <div class="panel panel-primary height-50" style="overflow:auto;">
            <a class="btn btn-primary" href="@Url.Action("Create")" role="button">Create Album</a>
            <div class="panel-heading" style="font-size: 2em;">Albums</div>
            <div class="panel-body">
            </div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Type</th>
                    <th>Stock</th>
                </tr>
                @foreach (var album in Model.AlbumList)
                {
                    <tr>
                        <td>@album.Name</td>
                        <td>@album.Artist</td>
                        <td>@album.Type</td>
                        <td>@album.Stock</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>